@use '../mixins/pseudo.scss' as *;
@use '../mixins/resposive.scss' as *;
.image{
    position: relative;
    z-index: -1; 
   &__bg-mobile{
    position: absolute;
    top: 0;
    height: 240px;
    width: 100%;
   }
    
    &__bg{
    position: absolute;
    height: 240px;
    width:100%;
    top: 0;
    left: 0;
    @include responsive(laptop) {
    background-image: url(../../assets/images/bg-main-desktop.png);
    position: absolute;
    top: 500px;
    }
    }
    &__back{
    position: absolute;
    height: 157px;
    width: 286px;
    top: 32px;
    left: 73px;
    
    }
    &__front{
    position: absolute;
    height: 157px;
    width: 286px;
    top: 126px;
    left: 16px;
    }
    &__circles{
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 100px;
    background-color: white;
    left: 36px;
    top: 144px;
    z-index: 1;
    // &::after{
    // content: '';
    // position: absolute;
    // height: 150px;
    // width: 150x;
    // background-color: red;
    // top:400px;
    // left: 50px;
    // z-index: 1;
    // }
    // @include pseudo(13.5px, 13.5px) {
    // border-radius: 100px;
    // border: solid 1px white;
    // left: 76.5px;
    // top: 152.25px;
    // }
    
    }
    &__cardholder-name{
    position: absolute;
    font-size: 11px;
    border: none;
    background-color: transparent;
    color: white;
    font-weight: 500;
    top: 251px;
    left: 36px;
    }
    &__exp-date-default{
    position: absolute;
    font-size: 11px;
    border: none;
    background-color: transparent;
    color: white;
    font-weight: 500;
    top: 251px;
    left: 249px;
    }
    &__card-number{
    position: absolute;
    font-size: 18px;
    border: none;
    background-color: transparent;
    color: white;
    font-weight: 500;
    top: 211px;
    left: 36px;
    }
    &__cvc-number{
    position: absolute;
    font-size: 9px;
    border: none;
    background-color: transparent;
    color: white;
    font-weight: 500;
    top: 103px;
    left: 301px;
    }
}
